In [2]:
import numpy as np
import pandas as pd
movies = pd.read_csv('D:/project/python/MovieR/tmdb_5000_movies.csv')
credits = pd.read_csv('D:/project/python/MovieR/tmdb_5000_credits.csv')

movies = movies.merge(credits, on='title')


movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [3]:
movies = movies.merge(credits, on='title')

In [13]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4821 entries, 0 to 4820
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4821 non-null   int64
 1   genres                4821 non-null   object
 2   homepage              1715 non-null   object
 3   id                    4821 non-null   int64
 4   keywords              4821 non-null   object
 5   original_language     4821 non-null   object
 6   original_title        4821 non-null   object
 7   overview              4818 non-null   object
 8   popularity            4821 non-null   float64
 9   production_companies  4821 non-null   object
 10  production_countries  4821 non-null   object
 11  release_date          4820 non-null   object
 12  revenue               4821 non-null   int64
 13  runtime               4819 non-null   float64
 14  spoken_languages      4821 non-null   object
 15  status                4821 non-null   object
 16  tagline               3977 non-null   object
 17  title                 4821 non-null   object
 18  vote_average          4821 non-null   float64
 19  vote_count            4821 non-null   int64
 20  movie_id_x            4821 non-null   int64
 21  cast_x                4821 non-null   object
 22  crew_x                4821 non-null   object
 23  movie_id_y            4821 non-null   int64
 24  cast_y                4821 non-null   object
 25  crew_y                4821 non-null   object
dtypes: float64(3), int64(6), object(17)
memory usage: 979.4+ KB

In [4]:
movies['original_language'].value_counts()

original_language
en    4520
fr      70
es      32
zh      27
de      27
hi      19
ja      16
ko      14
it      14
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
id       2
cs       2
ta       2
ro       2
ar       2
te       1
hu       1
xx       1
af       1
is       1
tr       1
vi       1
pl       1
nb       1
ky       1
no       1
sl       1
ps       1
el       1
Name: count, dtype: int64

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4821 entries, 0 to 4820
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4821 non-null   int64
 1   genres                4821 non-null   object
 2   homepage              1715 non-null   object
 3   id                    4821 non-null   int64
 4   keywords              4821 non-null   object
 5   original_language     4821 non-null   object
 6   original_title        4821 non-null   object
 7   overview              4818 non-null   object
 8   popularity            4821 non-null   float64
 9   production_companies  4821 non-null   object
 10  production_countries  4821 non-null   object
 11  release_date          4820 non-null   object
 12  revenue               4821 non-null   int64
 13  runtime               4819 non-null   float64
 14  spoken_languages      4821 non-null   object
 15  status                4821 non-null   object
 16  tagline               3977 non-null   object
 17  title                 4821 non-null   object
 18  vote_average          4821 non-null   float64
 19  vote_count            4821 non-null   int64
 20  movie_id_x            4821 non-null   int64
 21  cast_x                4821 non-null   object
 22  crew_x                4821 non-null   object
 23  movie_id_y            4821 non-null   int64
 24  cast_y                4821 non-null   object
 25  crew_y                4821 non-null   object
dtypes: float64(3), int64(6), object(17)
memory usage: 979.4+ KB

In [9]:
movies.isnull().sum()

budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
movie_id_x              0
cast_x                  0
crew_x                  0
movie_id_y              0
cast_y                  0
crew_y                  0
dtype: int64

In [8]:
movies.dropna(inplace=True)

In [11]:
movies.duplicated().sum()

np.int64(0)

In [13]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'